﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-6">
                    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="@User.Identity?.Name!"><i class="bi bi-person-circle white fs-3"></i> </a>
                </div>
                <div class="col-6">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-white mt-2">Sair</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Login
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header text-white">
                        <h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        ...
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-outline-warning col-12" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-outline-warning col-12" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    }
</ul>