@model IEnumerable<Gran_Prix.Models.FornecedorModel>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-5 mt-2 border-bottom">
    <h1 class="container">Fornecedores</h1>

    <a class="btn mx-5" asp-controller="Fornecedor" asp-action="Create"><i class="bi bi-truck fs-3">+</i></a>

</div>

<div class="container">

    <table id="Fornecedores" class="table table-dark table-striped mt-5">

        <br />
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                @foreach (var fornecedores in Model)

                {
                    <tr>
                        <td scope="row">@fornecedores.Id</td>
                        <td scope="row">@fornecedores.Nome</td>
                        <td>
                            <!--EXCLUIR-->
                            <a class="btn text-white mx-2 float-end" asp-controller="Fornecedor" asp-action="Excluir"
                               asp-route-id="@fornecedores.Id"><i class="bi bi-trash-fill"></i></a>
                            <!--EDITAR-->
                            <a class="btn text-white mx-2 float-end" asp-controller="Fornecedor" asp-action="Editar"
                               asp-route-id="@fornecedores.Id"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>