@model EstoqueFake

@{
    ViewData["Title"] = "Create";
}

<div class="mb-5 text-center text-black">
    <h1 class="text-black">Cadastro de produto</h1>
</div>
<hr />
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-xl-2 col-sm-2">
            <!--LADO ESQUERDO-->
        </div>
        <div class="col-xl-8 col-sm-8 bg-dark p-5" id="teste">
            <!--CENTRO-->
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <!--NOME-->
                    <div class="col-7 form-group text-white">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <!--PREÇO-->
                    <div class="col-5 form-group text-white">
                        <label asp-for="Preco" class="control-label"></label>
                        <input asp-for="Preco" class="form-control" type="text" />
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <!--QUANTIDADE-->
                    <div class="col-6 form-group text-white">
                        <label asp-for="Quantidade" class="control-label"></label>
                        <input asp-for="Quantidade" class="form-control" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <!--CÓDIGO-->
                    <div class="col-6 form-group text-white">
                        <label asp-for="Codigo" class="control-label"></label>
                        <input asp-for="Codigo" class="form-control" />
                        <span asp-validation-for="Codigo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 form-group text-white">
                    <label asp-for="Fornecedor_Id">Fornecedor</label>
                    <select asp-for="Fornecedor_Id" class="form-control">
                        @foreach (var fornecedor in ViewBag.Fornecedor)
                        {
                            <option value="@fornecedor.Id">@fornecedor.Nome</option>
                        }
                    </select>
                    <span asp-validation-for="Fornecedor_Id" class="text-danger"></span>
                </div>
                <div class="d-flex gap-3 mt-5">
                    <input type="submit" value="Create" class="btn btn-outline-success w-50" placeholder="Adicionar" />
                    <a class="btn btn-outline-danger w-50" asp-action="Index">Back</a>

                </div>
            </form>
        </div>
        <div class="col-xl-2 col-sm-2">
            <!--LADO DIREITO-->
        </div>
    </div>
</div>

<style>
    #teste {
        opacity: 0.8;
        border-radius: 15px;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}